.dojoxCheckedMultiSelectMenuCheckBoxItemIcon {
  display: block;
}

.dojoxCheckedMultiSelectCheckBoxInput {
  opacity: 1;
}

.dojoxCheckedMultiSelectMenu {
  padding: 16px 24px 16px 21px !important;
  border-radius: 4px !important;
  border: none !important;
  background-color: white !important;
}

.dijitMenuItemLabel {
  padding-left: 8px !important;
  padding-top: 6px !important;
}

.dijitMenuPopup {
  margin-top: 20px !important;
}

.dijitMenuItem:not(:last-child) .dijitMenuItemIconCell {
  padding-bottom: 16px !important;
}

.dijitMenuItem:not(:last-child) .dijitMenuItemLabel {
  padding-bottom: 16px !important;
}

div.pad {
  position: absolute;
}

#form {
  display: none;
}

body {
  background-color: salmon;
}

#widget_dropdown-multiselect table.dojoxCheckedMultiSelectButton tbody tr:first-child td:first-child {
  display: none !important;
}

#dijit_form_ComboButton_0_arrow {
  /* display: none !important; */
  width: 100px;
  height: 30px;
  background-color: white;
  color: #1774cc;
  border: 2px solid #1774cc;
  border-radius: 30px;
  padding: 0 8px;
}

.dropdownButtonFilled {
  /* display: none !important; */
  background: #1774cc !important;
  color: white !important; 
  border: 2px solid #1774cc;
}

#dijit_form_ComboButton_0_arrow .dijitArrowButtonInner {
  display: none !important;
}

.dropdownButtonContent {
  display: flex;
  align-items: center;
  padding: 0;
}

.dropdownButtonText {
  margin: 0 20px 0 0;
}

.dropdownChevron {
  width: 6px;
	height: 6px;
  border: solid #1774cc;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg) translate(-1.06px, -1.06px); /* 1.06 = 3 * 1/2 * sqrt(2) / 2 */
}

.dropdownButtonFilled .dropdownChevron {
  transform: rotate(45deg) translate(1.06px, 1.06px); /* 1.06 = 3 * 1/2 * sqrt(2) / 2 */
  border: solid white;
  border-width: 2px 0px 0px 2px;
}